# Demornalized Tables

### Import Library

In [1]:
import psycopg2

### Create a Connection

In [2]:
try:
    conn = psycopg2.connect("dbname=music user=postgres  password=admin")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

### Get a cursor & set autocommit to true

In [4]:
try:
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get cursor to the Database")
    print(e)

conn.set_session(autocommit=True)

#### Normalized (3NF) database set of tables we had in the last exercise, but we have added a new table `sales`. 

`Table Name: transactions2 
column 0: transaction Id
column 1: Customer Name
column 2: Cashier Id
column 3: Year `

`Table Name: albums_sold
column 0: Album Id
column 1: Transaction Id
column 3: Album Name` 

`Table Name: employees
column 0: Employee Id
column 1: Employee Name `

`Table Name: sales
column 0: Transaction Id
column 1: Amount Spent
`

### Create Transcations2 table & insert data

In [7]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions2 (transaction_id integer, customer_name varchar, \
                cashier_id integer, year integer, PRIMARY KEY (transaction_id))")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

## Insert Data

try: 
    cur.execute("INSERT INTO transactions2 (transaction_id, customer_name, cashier_id, year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, "Toby", 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Error: Inserting Rows
duplicate key value violates unique constraint "transactions2_pkey"
DETAIL:  Key (transaction_id)=(2) already exists.

### Create Employees table & insert data

In [9]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS employees (employee_id integer, employee_name varchar, PRIMARY KEY(employee_id))")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

## Insert Data

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (1, "Sam"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employees (employee_id, employee_name) \
                 VALUES (%s, %s)", \
                 (2, "Bob"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Create albums_sold table & insert data

In [10]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (album_id integer, transaction_id integer, album_name varchar, PRIMARY KEY(album_id))")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
## Insert Data

try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (2, 1, "Let It Be"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (3, 2, "My Generation"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (4, 3, "Meet the Beatles"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (album_id, transaction_id, album_name) \
                 VALUES (%s, %s, %s)", \
                 (5, 3, "Help!"))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Create Sales table & insert data

In [11]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS sales (transaction_id integer, amount_spent integer, PRIMARY KEY (transaction_id))")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

## Insert data 

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (1, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)    
    
try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (2, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e) 

try: 
    cur.execute("INSERT INTO sales (transaction_id, amount_spent) \
                 VALUES (%s, %s)", \
                 (3, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Validating Queries

In [12]:
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transactions2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employees;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()
    
print("\nTable: sales\n")
try: 
    cur.execute("SELECT * FROM sales;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees

(1, 'Sam')
(2, 'Bob')

Table: sales

(1, 40)
(2, 19)
(3, 45)

### `JOIN`  the 4 tables you have created

In [13]:
try:
    cur.execute("SELECT \
        transactions2.transaction_id AS transaction_id, \
        transactions2.customer_name  AS customer_name, \
        employees.employee_name      AS cashier_name, \
        transactions2.year           AS year, \
        albums_sold.album_name       AS albums_sold, \
        sales.amount_spent           AS amount_spent \
    FROM \
     transactions2 \
        JOIN employees ON (employees.employee_id = transactions2.cashier_id) \
        JOIN albums_sold ON (albums_sold.transaction_id = transactions2.transaction_id) \
        JOIN sales ON (sales.transaction_id = transactions2.transaction_id)")

    
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(2, 'Toby', 'Sam', 2000, 'My Generation', 19)
(3, 'Max', 'Bob', 2018, 'Meet the Beatles', 45)
(3, 'Max', 'Bob', 2018, 'Help!', 45)

### Demorlization Process

In [14]:
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS transactions (transaction_id integer, customer_name varchar,\
    cashier_name varchar, year integer, amount_spent integer, PRIMARY KEY (transaction_id))")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)

## Insert data

try: 
    cur.execute("INSERT INTO transactions (transaction_id, customer_name, cashier_name, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000, 40))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (transaction_id, customer_name, cashier_name, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000, 19))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO transactions (transaction_id, customer_name, cashier_name, year, amount_spent) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 45))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

### Validate Queries

In [15]:
try: 
    cur.execute("SELECT transaction_id, customer_name, amount_spent FROM transactions")
        
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 40)
(2, 'Toby', 19)
(3, 'Max', 45)

In [16]:
cur.close()
conn.close()